.table-footer {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
}

.table-amount-in-preferred-currency {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
